body{
    background-color: #50514F;
}
input{
    width: 100%;
    height: 100%;
}
#buttons{
    background-color:#eddea458;
    padding: 10px;
    justify-content: center;
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 80px 60px 60px 60px 60px  ;
    grid-template-areas: 
    "display display display display display"
    "one two three plus equal"
    "four five six mines equal"
    "seven eight nine multiply equal"
    "zero point pow divide equal";
}
#displayInputs{
    pointer-events: none;
    align-items: center;
    grid-area: display;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}
button{
    cursor: pointer;
    outline: none;
    box-shadow:5px 5px rgba(0, 0, 0, 0.426);
    color: #F6F2FF;
    background-color: #932f6db9;
    border: 2px solid;
    border-color: #F6F2FF;
    box-sizing: border-box;
    margin: 3px;
    border-radius: 5px;
    transition:  0.1s;
                                                                
}
button:active{
    color: black ;
    background-color:#CEDFD9 ;
    width: 85%;
    height: 85%;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}
.active{
    color: black ;
    background-color:#CEDFD9 ;
    width: 85%;
    height: 85%;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}
#display{
    box-sizing: border-box;
    padding-left: 10px;
    margin: 0;
    outline: none;
    border: none;
    height: 58%;
}
#prevDisplay{
    color: gray;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    border: none;
    height: 30%;
}
#one{
    grid-area: one;
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#operatorPlus{
    grid-area: plus;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six{
    grid-area: six;
}
#operatorMines{
    grid-area: mines;
}
#seven{
    grid-area: seven;
}
#eight{
    grid-area: eight;
}
#nine{
    grid-area: nine;
}
#operatorMultiply{
    grid-area: multiply;
}
#zero{
    grid-area: zero;
}
#point{
    grid-area: point;
}
#operatorPow{
    grid-area: pow;
}
#operatorDivide{
    grid-area: divide;
}
#operatorEqual{
    background-color: #9E2A2B;
    grid-area: equal;
}
#operatorEqual:active{
    width: 85%;
    height: 97%;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}
.equalactive{
    width: 85%;
    height: 97%;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}
#selectedOperator{
    color: #9E2A2B;
    top: 3.5%;
    right: 5%;
    position: absolute;
}